.home-container {
  margin: 1vh 6vw 2vh 6vw;
  height: 90vh;
}

.top-bar-left {
  margin-left: 6vw;
}

.top-bar-right {
  margin-right: 6vw;
}

@media (max-width: 500px) {
  .content-container,
  .home-container,
  .top-bar-left {
    margin-left: 1vw;
  }

  .top-bar-right {
    margin-right: 1vw;
  }
}
