.content-container,
.top-bar-left {
  margin-left: 6vw;
}

.content-container,
.top-bar-right {
  margin-right: 6vw;
}

@media (max-width: 500px) {
  .top-bar-left {
    margin-left: 1vw;
  }

  .top-bar-right {
    margin-right: 1vw;
  }
}
